## Create & Access SQLite database using Python

### `Import sqlite3 module`

In [1]:
import sqlite3

### `Connect to SQLite database`

In [2]:
conn = sqlite3.connect('INSTRUCTOR.db')

### `Create a cursor object`

In [3]:
cursor = conn.cursor()

### `Drop the INSTRUCTOR table if it exists`

In [4]:
cursor.execute("DROP TABLE IF EXISTS INSTRUCTOR")

### `Define the SQL statement to create the INSTRUCTOR table`

In [5]:
table = """ create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""

### `Execute the SQL statement to create the INSTRUCTOR table`

In [6]:
cursor.execute(table)

### `Insert a row into the INSTRUCTOR table`

In [7]:
cursor.execute('''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')

### `Select all data from the INSTRUCTOR table and print it`

In [8]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor.execute(statement)

print("All the data")
output_all = cursor.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')

### `Select only the FNAME column from the INSTRUCTOR table and print it`

In [9]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor.execute(statement)
  
print("All the data")
output_column = cursor.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('Rav',)

### `Import pandas and retrieve the query results into a pandas dataframe`

In [10]:
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
df

   ID FNAME  LNAME     CITY CCODE
0   1   Rav  Ahuja  TORONTO    CA

### `Close the connection to the SQLite database`

In [11]:
# Close the connection
conn.close()