In [1]:
url = "https://en.wikipedia.org/wiki/List_of_largest_banks#By_market_capitalization"

In [2]:
import pandas as pd

In [3]:
df = pd.read_html(url)[2]

In [4]:
df

                                  Bank name  \
                                  Bank name
0                            JPMorgan Chase
1                           Bank of America
2   Industrial and Commercial Bank of China
3                Agricultural Bank of China
4                             Bank of China
5                   China Construction Bank
6                               Wells Fargo
7                                      HSBC
8                         Commonwealth Bank
9                             Goldman Sachs
10                     Royal Bank of Canada
11                           Morgan Stanley

   GlobalData (as of 30 September 2024)[4]                           \
                                      Rank Market cap (US$ billion)
0                                      1.0                  599.931
1                                      2.0                  307.900
2                                      3.0                  303.543
3                                      4.0                  232.836
4                                      5.0                  209.295
5                                      6.0                  192.715
6                                      7.0                  192.279
7                                      8.0                  163.544
8                                      9.0                  156.639
9                                     10.0                  156.356
10                                     NaN                      NaN
11                                     NaN                      NaN

   Forbes India (as of 4 October 2024)[5]
                                     Rank Market cap (US$ billion)
0                                     1.0                   583.91
1                                     2.0                   304.56
2                                     3.0                   288.06
3                                     4.0                   231.00
4                                     6.0                   187.79
5                                     5.0                   197.15
6                                     7.0                   187.13
7                                    10.0                   159.35
8                                     NaN                      NaN
9                                     NaN                      NaN
10                                    8.0                   173.86
11                                    9.0                   169.17

In [5]:
df.columns

MultiIndex([(                              'Bank name', ...),
            ('GlobalData (as of 30 September 2024)[4]', ...),
            ('GlobalData (as of 30 September 2024)[4]', ...),
            ( 'Forbes India (as of 4 October 2024)[5]', ...),
            ( 'Forbes India (as of 4 October 2024)[5]', ...)],
           )

In [6]:
# Achata as colunas do MultiIndex, juntando o nível principal e o nível secundário com um espaço
df.columns = [' '.join(filter(None, col)).strip() for col in df.columns]

# Exibe as colunas para conferir os novos nomes após o achatamento
print(df.columns)

Index(['Bank name Bank name', 'GlobalData (as of 30 September 2024)[4] Rank',
       'GlobalData (as of 30 September 2024)[4] Market cap (US$ billion)',
       'Forbes India (as of 4 October 2024)[5] Rank',
       'Forbes India (as of 4 October 2024)[5] Market cap (US$ billion)'],
      dtype='object')

In [7]:
# Redefine manualmente os nomes das colunas para corrigir o erro de formatação
df.columns = [
    'Bank name',
    'GlobalData Rank',
    'GlobalData Market cap (US$ billion)',
    'Forbes India Rank',
    'Forbes India Market cap (US$ billion)'
]

# Seleciona as colunas 'Bank name' e 'GlobalData Market cap (US$ billion)'
df = df[['Bank name', 'GlobalData Market cap (US$ billion)']]
df

,Bank name,GlobalData Market cap (US$ billion)
0,JPMorgan Chase,599.931
1,Bank of America,307.900
2,Industrial and Commercial Bank of China,303.543
3,Agricultural Bank of China,232.836
4,Bank of China,209.295
5,China Construction Bank,192.715
6,Wells Fargo,192.279
7,HSBC,163.544
8,Commonwealth Bank,156.639
9,Goldman Sachs,156.356
10,Royal Bank of Canada,NaN
11,Morgan Stanley,NaN

In [9]:
df = df.head(10)
df

,Bank name,GlobalData Market cap (US$ billion)
0,JPMorgan Chase,599.931
1,Bank of America,307.900
2,Industrial and Commercial Bank of China,303.543
3,Agricultural Bank of China,232.836
4,Bank of China,209.295
5,China Construction Bank,192.715
6,Wells Fargo,192.279
7,HSBC,163.544
8,Commonwealth Bank,156.639
9,Goldman Sachs,156.356